include /_mixins

doctype html
html
  head
    title Sushi Restaurant Website
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    +stylesheet_link_tag('style')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    header
    main
      block content
    footer
    +javascript_include_tag('application')
    +javascript_include_tag('models/item')
    +javascript_include_tag('collections/items', 'collections/cart')
    +javascript_include_tag('views/base_item', 'views/item', 'views/cart', 'views/header', 'views/item_detail', 'views/checkout')
    script(type="text/javascript").
      App.items = new Items(!{JSON.stringify(items)});
      App.cart = new Cart(!{JSON.stringify(cart)});
      App.init();
    +javascript_include_tag('router')



